.button {
    display: inline-block;
    padding: 8px 24px;
    color: white;
    opacity: 0.8;
    border-radius: 4px;
    background-color: #f778b8;
    cursor: pointer;
    box-shadow: 0 5px #e04893;

    &:hover {
      opacity: 1;
    }

    &:active {
      position: relative;
      top: 7px;
      box-shadow: none;
    }
}